@keyframes scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes slideVertical {
	from {
		transform: translateY(-100%);
	}

	to {
		transform: translateY(0);
	}
}

// .something {
//   animation: scale 1s linear;
//   animation-iteration-count: infinite;
// }
