.pointer {
	cursor: pointer;
}

.scaleOnHover {
	transition: all 300ms ease-in-out;
	&:hover {
		transform: scale(1.5);
	}
}

.page-not-found {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h1 {
		font-size: 5rem;
	}
	p {
		font-size: 2rem;
	}
	div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
