@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.5;
	&::-webkit-scrollbar {
		width: 0.5rem;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 0.5em;
	}
	scrollbar-color: #888 transparent;
	scrollbar-width: thin;
}

body {
	font-family: 'Raleway', sans-serif;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: #002;
	color: #ccc;
}

#root {
	height: 100vh;
	width: 100vw;
	position: relative;
}

.pointer {
	cursor: pointer;
}

.scaleOnHover {
	transition: all 300ms ease-in-out;
	&:hover {
		transform: scale(1.5);
	}
}

.page-not-found {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h1 {
		font-size: 5rem;
	}
	p {
		font-size: 2rem;
	}
	div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@import 'animation';
